In [2]:
import pandas as pd
import numpy as np
import re
import os
from ddf_utils.str import to_concept_id
from ddf_utils.index import create_index_file

In [3]:
source = 'source/WPP2015_INT_F02B_1_ANNUAL_POPULATION_INDICATORS_PERCENTAGE_BOTH_SEXES.XLS'

In [28]:
data_est = pd.read_excel(source, sheetname='ESTIMATES', skiprows=16, header=None)

In [29]:
data_var = pd.read_excel(source, sheetname='MEDIUM VARIANT', skiprows=16, header=None)

In [6]:
data_var.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,Index,Variant,"Major area, region, country or area *",Notes,Country code,Reference date (as of 1 July),Alive between birth and age 1,Population under age 2,Population under age 5,Population under age 15,...,Population aged 25 or over,Population aged 50 or over,Population aged 60 or over,Population aged 65 or over,Population aged 70 or over,Population aged 75 or over,Population aged 80 or over,Population aged 85 or over,Population aged 90 or over,Total
1,1,Medium variant,WORLD,NaN,900,2015,1.857,3.704,9.129,26.067,...,57.692,22.347,12.258,8.275,5.349,3.265,1.705,0.732,0.228,100
2,2,Medium variant,WORLD,NaN,900,2016,1.841,3.675,9.082,25.977,...,58.024,22.699,12.498,8.469,5.441,3.321,1.762,0.77,0.249,100
3,3,Medium variant,WORLD,NaN,900,2017,1.822,3.629,9.011,25.87,...,58.341,23.063,12.733,8.682,5.537,3.364,1.813,0.8,0.268,100
4,4,Medium variant,WORLD,NaN,900,2018,1.803,3.583,8.923,25.748,...,58.641,23.434,12.97,8.906,5.641,3.401,1.853,0.82,0.281,100

In [7]:
data_est.tail()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
15902,15902,Estimates,Tonga,NaN,776,2011,2.642,5.267,13.11,37.371,...,44.008,14.719,8.003,5.877,4.067,2.527,1.328,0.514,0.146,100
15903,15903,Estimates,Tonga,NaN,776,2012,2.594,5.112,12.908,37.279,...,43.886,14.889,7.996,5.882,4.075,2.555,1.363,0.553,0.155,100
15904,15904,Estimates,Tonga,NaN,776,2013,2.542,4.985,12.655,37.147,...,43.712,15.046,8.003,5.886,4.073,2.573,1.387,0.582,0.162,100
15905,15905,Estimates,Tonga,NaN,776,2014,2.489,4.867,12.394,36.975,...,43.532,15.205,8.052,5.884,4.063,2.576,1.398,0.598,0.169,100
15906,15906,Estimates,Tonga,NaN,776,2015,2.435,4.765,12.16,36.764,...,43.381,15.376,8.157,5.874,4.044,2.565,1.393,0.597,0.168,100

In [30]:
data_est.iloc[0, 6:] = data_est.iloc[0, 6:].map(lambda x: x+' (Percentage)')
data_est.columns = data_est.ix[0].map(to_concept_id)
data_est = data_est.drop(['index', 'notes', 'total_percentage'], axis=1)

In [31]:
data_est.head()

,variant,major_area_region_country_or_area,country_code,reference_date_as_of_1_july,alive_between_birth_and_age_1_percentage,population_under_age_2_percentage,population_under_age_5_percentage,population_under_age_15_percentage,population_under_age_18_percentage,population_under_age_20_percentage,...,population_aged_21_or_over_percentage,population_aged_25_or_over_percentage,population_aged_50_or_over_percentage,population_aged_60_or_over_percentage,population_aged_65_or_over_percentage,population_aged_70_or_over_percentage,population_aged_75_or_over_percentage,population_aged_80_or_over_percentage,population_aged_85_or_over_percentage,population_aged_90_or_over_percentage
0,Variant,"Major area, region, country or area *",Country code,Reference date (as of 1 July),Alive between birth and age 1 (Percentage),Population under age 2 (Percentage),Population under age 5 (Percentage),Population under age 15 (Percentage),Population under age 18 (Percentage),Population under age 20 (Percentage),...,Population aged 21 or over (Percentage),Population aged 25 or over (Percentage),Population aged 50 or over (Percentage),Population aged 60 or over (Percentage),Population aged 65 or over (Percentage),Population aged 70 or over (Percentage),Population aged 75 or over (Percentage),Population aged 80 or over (Percentage),Population aged 85 or over (Percentage),Population aged 90 or over (Percentage)
1,Estimates,WORLD,900,1950,3.452,5.933,13.363,34.345,40.103,43.795,...,54.389,47.422,15.773,8.003,5.095,2.913,1.434,0.562,0.183,0.046
2,Estimates,WORLD,900,1951,3.389,6.152,13.847,34.667,40.409,44.054,...,54.154,47.227,15.736,7.987,5.116,2.944,1.469,0.59,0.193,0.05
3,Estimates,WORLD,900,1952,3.336,6.27,14.231,34.951,40.693,44.309,...,53.925,47.061,15.707,7.957,5.124,2.958,1.488,0.61,0.198,0.052
4,Estimates,WORLD,900,1953,3.295,6.337,14.475,35.186,40.922,44.533,...,53.72,46.935,15.689,7.92,5.117,2.957,1.491,0.617,0.197,0.053

In [32]:
data_var.iloc[0, 6:] = data_var.iloc[0, 6:].map(lambda x: x+' (Percentage)')
data_var.columns = data_var.ix[0].map(to_concept_id)
data_var = data_var.drop(['index', 'notes', 'total_percentage'], axis=1)

In [33]:
concs = data_est.ix[0].T

In [34]:
concs.index.name = 'concept'
concs.name = 'name'

In [35]:
concs = concs.rename(index={'reference_date_as_of_1_july': 'year'})

In [36]:
concs = concs.reset_index()

In [37]:
concs['concept_type'] = 'string'

concs['concept_type'].iloc[2] = 'entity_domain'
concs['concept_type'].iloc[3] = 'time'
concs['concept_type'].iloc[4:] = 'measure'

In [38]:
concs['unit'] = np.nan

concs['unit'].iloc[4:] = 'per 100 total population'

/usr/local/lib/python3.5/site-packages/pandas/core/indexing.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [39]:
concs_number = pd.read_csv('../ddf--concepts.csv')

In [43]:
pd.concat([concs_number, concs]).reset_index(drop=True).drop_duplicates().to_csv('../ddf--concepts.csv', index=False)