In [1]:
import pandas as pd
import numpy as np
import re
import os
from ddf_utils.str import to_concept_id
from ddf_utils.index import create_index_file

In [2]:
source = 'source/WPP2015_INT_F03_1_POPULATION_BY_AGE_ANNUAL_BOTH_SEXES.XLS'

In [39]:
data_est = pd.read_excel(source, sheetname='ESTIMATES', skiprows=16, na_values='…')

In [40]:
data_var = pd.read_excel(source, sheetname='MEDIUM VARIANT', skiprows=16, na_values='…')

In [41]:
data_est = data_est.drop(['Index', 'Notes', '80+'], axis=1)

In [ ]:
data_var = data_var.drop(['Index', 'Notes'], axis=1)

In [11]:
data_est.head()

,Index,Variant,"Major area, region, country or area *",Notes,Country code,Reference date (as of 1 July),0,1,2,3,...,91,92,93,94,95,96,97,98,99,100+
0,1,Estimates,WORLD,NaN,900,1950,78116.685,71707.672,66449.346,62228.019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Estimates,WORLD,NaN,900,1951,81973.089,76250.302,70474.481,65672.988,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Estimates,WORLD,NaN,900,1952,85085.460,79060.671,74351.359,69205.529,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Estimates,WORLD,NaN,900,1953,87298.857,81532.381,76324.468,72491.108,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Estimates,WORLD,NaN,900,1954,88613.869,83346.474,78486.514,74028.307,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
data_var.tail()

,Index,Variant,"Major area, region, country or area *",Notes,Country code,Reference date (as of 1 July),0,1,2,3,...,91,92,93,94,95,96,97,98,99,100+
20721,20722,Medium variant,Tonga,NaN,776,2096,1.968,1.969,1.965,1.962,...,0.522,0.450,0.384,0.326,0.275,0.214,0.167,0.131,0.103,0.240
20722,20723,Medium variant,Tonga,NaN,776,2097,1.957,1.957,1.961,1.959,...,0.538,0.470,0.401,0.339,0.285,0.238,0.178,0.139,0.111,0.257
20723,20724,Medium variant,Tonga,NaN,776,2098,1.944,1.947,1.947,1.953,...,0.551,0.484,0.418,0.351,0.294,0.244,0.201,0.149,0.117,0.273
20724,20725,Medium variant,Tonga,NaN,776,2099,1.930,1.933,1.938,1.940,...,0.555,0.493,0.429,0.367,0.302,0.247,0.203,0.165,0.125,0.289
20725,20726,Medium variant,Tonga,NaN,776,2100,1.911,1.917,1.925,1.928,...,0.555,0.497,0.436,0.375,0.314,0.253,0.202,0.162,0.128,0.307

In [44]:
cols_1 = data_est.columns
cols_new_1 = [*cols_1[:6], *(map(lambda x: 'Total Population aged '+ x + ' (Number)', cols_1[6:]))]

In [43]:
cols_2 = data_var.columns
cols_new_2 = [*cols_2[:6], *(map(lambda x: 'Total Population aged '+ x + ' (Number)', cols_2[6:]))]

In [45]:
cols_new_1 == cols_new_2

True

In [46]:
data_est.columns = cols_new_1
data_var.columns = cols_new_2

In [47]:
data_est.columns = data_est.columns.map(to_concept_id)

In [48]:
data_est = data_est.drop(['index', 'notes'], axis=1)

In [54]:
data_est = data_est.rename(columns={'reference_date_as_of_1_july': 'year'})

In [55]:
data_est.head()

,variant,major_area_region_country_or_area,country_code,year,total_population_aged_0_number,total_population_aged_1_number,total_population_aged_2_number,total_population_aged_3_number,total_population_aged_4_number,total_population_aged_5_number,...,total_population_aged_91_number,total_population_aged_92_number,total_population_aged_93_number,total_population_aged_94_number,total_population_aged_95_number,total_population_aged_96_number,total_population_aged_97_number,total_population_aged_98_number,total_population_aged_99_number,total_population_aged_100_number
0,Estimates,WORLD,900,1950,78116.685,71707.672,66449.346,62228.019,58930.171,56442.125,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Estimates,WORLD,900,1951,81973.089,76250.302,70474.481,65672.988,61757.344,58639.277,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Estimates,WORLD,900,1952,85085.460,79060.671,74351.359,69205.529,64859.079,61248.694,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Estimates,WORLD,900,1953,87298.857,81532.381,76324.468,72491.108,67974.254,64081.777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Estimates,WORLD,900,1954,88613.869,83346.474,78486.514,74028.307,70707.145,66815.402,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
data_var.columns = data_var.columns.map(to_concept_id)
data_var = data_var.drop(['index', 'notes'], axis=1)

In [56]:
data_var = data_var.rename(columns={'reference_date_as_of_1_july': 'year'})

In [63]:
concs = pd.DataFrame([], columns=['name', 'concept'])

In [61]:
cols_new_1.remove('Index')

In [62]:
cols_new_1.remove('Notes')

In [64]:
concs['name'] = cols_new_1

In [65]:
concs['concept'] = data_est.columns

In [68]:
concs['concept_type'] = 'string'

concs['concept_type'].iloc[2] = 'entity_domain'
concs['concept_type'].iloc[3] = 'time'
concs['concept_type'].iloc[4:] = 'measure'

In [70]:
concs['unit'] = np.nan

concs['unit'].iloc[4:] = 'thousands'

/usr/local/lib/python3.5/site-packages/pandas/core/indexing.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [71]:
concs = concs.append(pd.DataFrame([
            ['unit', 'Unit', 'string', np.nan], 
            ['name', 'Name', 'string', np.nan]], columns=concs.columns))

In [72]:
concs.sort_index().head(20)

,name,concept,concept_type,unit
0,Variant,variant,string,NaN
0,unit,Unit,string,NaN
1,name,Name,string,NaN
1,"Major area, region, country or area *",major_area_region_country_or_area,string,NaN
2,Country code,country_code,entity_domain,NaN
3,Reference date (as of 1 July),year,time,NaN
4,Total Population aged 0 (Number),total_population_aged_0_number,measure,thousands
5,Total Population aged 1 (Number),total_population_aged_1_number,measure,thousands
6,Total Population aged 2 (Number),total_population_aged_2_number,measure,thousands
7,Total Population aged 3 (Number),total_population_aged_3_number,measure,thousands
8,Total Population aged 4 (Number),total_population_aged_4_number,measure,thousands
9,Total Population aged 5 (Number),total_population_aged_5_number,measure,thousands
10,Total Population aged 6 (Number),total_population_aged_6_number,measure,thousands
11,Total Population aged 7 (Number),total_population_aged_7_number,measure,thousands
12,Total Population aged 8 (Number),total_population_aged_8_number,measure,thousands
13,Total Population aged 9 (Number),total_population_aged_9_number,measure,thousands
14,Total Population aged 10 (Number),total_population_aged_10_number,measure,thousands
15,Total Population aged 11 (Number),total_population_aged_11_number,measure,thousands
16,Total Population aged 12 (Number),total_population_aged_12_number,measure,thousands
17,Total Population aged 13 (Number),total_population_aged_13_number,measure,thousands

In [73]:
concs.sort_index().to_csv('../ddf--concepts.csv', index=False)

In [77]:
# country

In [74]:
entity = data_est[['major_area_region_country_or_area', 'country_code']]

In [82]:
entity = entity.rename(columns={'major_area_region_country_or_area': 'name'})

In [83]:
entity.drop_duplicates().to_csv('../ddf--entities--country_code.csv', index=False)

In [83]:
# data point

In [76]:
dp_1 = data_est.drop('major_area_region_country_or_area', axis=1)
dp_2 = data_var.drop('major_area_region_country_or_area', axis=1)

In [77]:
dp = pd.concat([dp_1, dp_2])

In [79]:
dp = dp.set_index(['country_code', 'year', 'variant'])

In [80]:
for name, df in dp.iteritems():
    path = os.path.join('../', 'ddf--datapoints--{}--by--country_code--year.csv'.format(name))
    df.reset_index().sort_values(by=['country_code', 'year']).dropna().to_csv(path, index=False)

In [84]:
create_index_file('../')

,key,value,file
0,concept,name,ddf--concepts.csv
1,concept,concept_type,ddf--concepts.csv
2,concept,unit,ddf--concepts.csv
0,"country_code,year",total_population_aged_0_number,ddf--datapoints--total_population_aged_0_numbe...
0,"country_code,year",total_population_aged_100_number,ddf--datapoints--total_population_aged_100_num...
0,"country_code,year",total_population_aged_10_number,ddf--datapoints--total_population_aged_10_numb...
0,"country_code,year",total_population_aged_11_number,ddf--datapoints--total_population_aged_11_numb...
0,"country_code,year",total_population_aged_12_number,ddf--datapoints--total_population_aged_12_numb...
0,"country_code,year",total_population_aged_13_number,ddf--datapoints--total_population_aged_13_numb...
0,"country_code,year",total_population_aged_14_number,ddf--datapoints--total_population_aged_14_numb...
0,"country_code,year",total_population_aged_15_number,ddf--datapoints--total_population_aged_15_numb...
0,"country_code,year",total_population_aged_16_number,ddf--datapoints--total_population_aged_16_numb...
0,"country_code,year",total_population_aged_17_number,ddf--datapoints--total_population_aged_17_numb...
0,"country_code,year",total_population_aged_18_number,ddf--datapoints--total_population_aged_18_numb...
0,"country_code,year",total_population_aged_19_number,ddf--datapoints--total_population_aged_19_numb...
0,"country_code,year",total_population_aged_1_number,ddf--datapoints--total_population_aged_1_numbe...
0,"country_code,year",total_population_aged_20_number,ddf--datapoints--total_population_aged_20_numb...
0,"country_code,year",total_population_aged_21_number,ddf--datapoints--total_population_aged_21_numb...
0,"country_code,year",total_population_aged_22_number,ddf--datapoints--total_population_aged_22_numb...
0,"country_code,year",total_population_aged_23_number,ddf--datapoints--total_population_aged_23_numb...
0,"country_code,year",total_population_aged_24_number,ddf--datapoints--total_population_aged_24_numb...
0,"country_code,year",total_population_aged_25_number,ddf--datapoints--total_population_aged_25_numb...
0,"country_code,year",total_population_aged_26_number,ddf--datapoints--total_population_aged_26_numb...
0,"country_code,year",total_population_aged_27_number,ddf--datapoints--total_population_aged_27_numb...
0,"country_code,year",total_population_aged_28_number,ddf--datapoints--total_population_aged_28_numb...
0,"country_code,year",total_population_aged_29_number,ddf--datapoints--total_population_aged_29_numb...
0,"country_code,year",total_population_aged_2_number,ddf--datapoints--total_population_aged_2_numbe...
0,"country_code,year",total_population_aged_30_number,ddf--datapoints--total_population_aged_30_numb...
0,"country_code,year",total_population_aged_31_number,ddf--datapoints--total_population_aged_31_numb...
0,"country_code,year",total_population_aged_32_number,ddf--datapoints--total_population_aged_32_numb...
...,...,...,...
0,"country_code,year",total_population_aged_74_number,ddf--datapoints--total_population_aged_74_numb...
0,"country_code,year",total_population_aged_75_number,ddf--datapoints--total_population_aged_75_numb...
0,"country_code,year",total_population_aged_76_number,ddf--datapoints--total_population_aged_76_numb...
0,"country_code,year",total_population_aged_77_number,ddf--datapoints--total_population_aged_77_numb...
0,"country_code,year",total_population_aged_78_number,ddf--datapoints--total_population_aged_78_numb...
0,"country_code,year",total_population_aged_79_number,ddf--datapoints--total_population_aged_79_numb...
0,"country_code,year",total_population_aged_7_number,ddf--datapoints--total_population_aged_7_numbe...
0,"country_code,year",total_population_aged_80_number,ddf--datapoints--total_population_aged_80_numb...
0,"country_code,year",total_population_aged_81_number,ddf--datapoints--total_population_aged_81_numb...
0,"country_code,year",total_population_aged_82_number,ddf--datapoints--total_population_aged_82_numb...
0,"country_code,year",total_population_aged_83_number,ddf--datapoints--total_population_aged_83_numb...
0,"country_code,year",total_population_aged_84_number,ddf--datapoints--total_population_aged_84_numb...
0,"country_code,year",total_population_aged_85_number,ddf--datapoints--total_population_aged_85_numb...
0,"country_code,year",total_population_aged_86_number,ddf--datapoints--total_population_aged_86_numb...
0,"country_code,year",total_population_aged_87_number,ddf--datapoints--total_population_aged_87_numb...
0,"country_code,year",total_population_aged_88_number,ddf--datapoints--total_population_aged_88_numb...
0,"country_code,year",total_population_aged_89_number,ddf--datapoints--total_population_aged_89_numb...
0,"country_code,year",total_population_aged_8_number,ddf--datapoints--total_population_aged_8_numbe...
0,"country_code,year",total_population_aged_90_number,ddf--datapoints--total_population_aged_90_numb...
0,"country_code,year",total_population_aged_91_number,ddf--datapoints--total_population_aged_91_numb...
0,"country_code,year",total_population_aged_92_number,ddf--datapoints--total_population_aged_92_numb...
0,"country_code,year",total_population_aged_93_number,ddf--datapoints--total_population_aged_93_numb...
0,"country_code,year",total_population_aged_94_number,ddf--datapoints--total_population_aged_94_numb...
0,"country_code,year",total_population_aged_95_number,ddf--datapoints--total_population_aged_95_numb...
0,"country_code,year",total_population_aged_96_number,ddf--datapoints--total_population_aged_96_numb...
0,"country_code,year",total_population_aged_97_number,ddf--datapoints--total_population_aged_97_numb...
0,"country_code,year",total_population_aged_98_number,ddf--datapoints--total_population_aged_98_numb...
0,"country_code,year",total_population_aged_99_number,ddf--datapoints--total_population_aged_99_numb...
0,"country_code,year",total_population_aged_9_number,ddf--datapoints--total_population_aged_9_numbe...
0,country_code,name,ddf--entities--country_code.csv

In [168]:
from ddf_utils import ddf_reader as ddf

In [169]:
ddf.SEARCH_PATH = '/Users/semio/src/work/Gapminder/'

In [177]:
ddf.ddf_datapoint('ddf--gapminder--systema_globalis', 'crude_birth_rate_births_per_1000_population')

               geo  crude_birth_rate_births_per_1000_population  time
0              afg                                        48.14  1800
1              afg                                        48.14  1801
2              afg                                        48.14  1802
3              afg                                        48.14  1803
4              afg                                        48.14  1804
5              afg                                        48.14  1805
6              afg                                        48.14  1806
7              afg                                        48.14  1807
8              afg                                        48.14  1808
9              afg                                        48.14  1809
10             afg                                        48.14  1810
11             afg                                        48.14  1811
12             afg                                        48.14  1812
13             afg                                        48.14  1813
14             afg                                        48.14  1814
15             afg                                        48.14  1815
16             afg                                        48.14  1816
17             afg                                        48.14  1817
18             afg                                        48.14  1818
19             afg                                        48.14  1819
20             afg                                        48.14  1820
21             afg                                        48.14  1821
22             afg                                        48.14  1822
23             afg                                        48.14  1823
24             afg                                        48.14  1824
25             afg                                        48.14  1825
26             afg                                        48.14  1826
27             afg                                        48.14  1827
28             afg                                        48.14  1828
29             afg                                        48.14  1829
...            ...                                          ...   ...
43320  nld_curacao                                        20.62  1986
43321  nld_curacao                                        20.59  1987
43322  nld_curacao                                        20.46  1988
43323  nld_curacao                                        20.24  1989
43324  nld_curacao                                        19.90  1990
43325  nld_curacao                                        19.44  1991
43326  nld_curacao                                        18.88  1992
43327  nld_curacao                                        18.25  1993
43328  nld_curacao                                        17.57  1994
43329  nld_curacao                                        16.88  1995
43330  nld_curacao                                        16.20  1996
43331  nld_curacao                                        15.56  1997
43332  nld_curacao                                        14.99  1998
43333  nld_curacao                                        14.49  1999
43334  nld_curacao                                        14.07  2000
43335  nld_curacao                                        13.71  2001
43336  nld_curacao                                        13.38  2002
43337  nld_curacao                                        13.09  2003
43338  nld_curacao                                        12.83  2004
43339  nld_curacao                                        12.61  2005
43340  nld_curacao                                        12.47  2006
43341  nld_curacao                                        12.41  2007
43342  nld_curacao                                        12.45  2008
43343  nld_curacao                                        12.56  2009
43344  nld_curacao                                        12.73  2010
43345  nld_curacao                                        12.92  2011
43346  nld_curacao                                        13.10  2012
43347  nld_curacao                                        13.24  2013
43348  nld_curacao                                        13.33  2014
43349  nld_curacao                                        13.37  2015

[43350 rows x 3 columns]